<mat-dialog-content class="mat-typography">
  <h1 class="titlePosition"><strong>Antes de empezar...</strong></h1>
  <div class="contentImg">
    <div>
      <img src="../../../assets/img/tekmanSonido.png" class="separationImgLeft">
      <h3 class="sonidoSize">Asegúrate de tener el <strong>volumen activado</strong></h3>
    </div>

    <div>
      <img src="../../../assets/img/teckmanReloj.png">
      <h3 class="relojSize">Los bits pasan automáticamente <strong>cada 2 segundos</strong></h3>
    </div>

    <div>
      <img src="../../../assets/img/tekmanStop.png" class="separationImg">
      <h3 class="stopSize">Puedes detener el pase con la <strong>barra espaciadora</strong> o haciendo <strong>clic en
          la pantalla</strong></h3>
    </div>



  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="colorButton buttonPosition" [mat-dialog-close]="true">Empezar pase</button>
</mat-dialog-actions>
