.colorButton {
  color: white;
  background-color: #f26c48;
}

.titlePosition {
  margin-top: 60px;
  padding-left: 350px;
}

.buttonPosition {
  margin-bottom: 90px;
  margin-right: 400px;
}


.contentImg {
  width: 100%;
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
}

.separationImgLeft {
  margin-left: 100px;
  margin-right: 200px;
}


.separationImg {
  margin-left: 100px;
  margin-right: 120px;
}

.stopSize {
  width: 240px;
  padding-left: 90px;
}

.relojSize {
  width: 200px;
}

.sonidoSize {
  width: 100px;
  margin-left: 100px;
}
