.containerMain {
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 260px
}

.tamanoCard {
  display: flex;
  width: 253px;
  height: 100px;
  margin-right: 20px;
}

.example-container {
  height: 400px;
  width: 700px;
  overflow: auto;
  margin-left: 20px;
}

table {
  width: 100%;
}

.sizeCard {
  width: 245px;
}

.back {
  display: flex;
  cursor: pointer;
  padding-left: 256px;
}

.moveBack {
  margin-left: 20px;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  color: white;
  background-color: #f26c48;
}

.centerSpinner {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  padding-top: 400px;
}

.cardResultColor {
  color: white;
  background-color: #ed993f;
  width: 58px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 17px;
}

.colorTitleTable {
  color:black;
  padding-top: 20px;
}
