.tamanoTarjeta {
  margin-top: 50px;
  width: 800px;
}

.tamanoTarjetaTemario {
  display: flex;
  width:100%;
}

.tamanoTemario {
  cursor: pointer;
  width: 200px;
  margin-right: 20px;
}

.colorButton {
  color: white;
  background-color: #f26c48;
}

.colorButtonSecondary {
  color: white;
  background-color: #f26c48;
  margin-left: 20px;
}

.circuleSize {
  width: 50px;
  height: 50px;
}

.circuleCompleteSize {
  width: 48.89px;
  height: 48.89px;
}

.moveToTop {
  padding-top: 20px;
}
