.tamanoTarjeta {
  margin-top: 50px;
  width: 800px;
}

.tamanoTarjetaTemario {
  display: flex;
  width: 800px;
}

.tamanoTemario {
  cursor: pointer;
  width: 200px;
  margin-right: 20px;
}

.colorButton {
  color: white;
  background-color: #f26c48;
}

.colorButtonSecondary {
  color: white;
  background-color: #f26c48;
  margin-left: 20px;
}

