
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1>Tarjetas</h1>

    <div class="spacer"></div>
    <button mat-fab color="basic" aria-label="Example icon button with a home icon">
      <mat-icon>dialpad</mat-icon>
    </button>
    <button mat-fab color="basic" aria-label="Example icon button with a home icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-fab color="basic" aria-label="Example icon button with a home icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
</div>

<div class="content" role="main">

  <div class="card-container">

  </div>

  <input type="hidden" #selection>

  <div class="card-container">

  </div>

<router-outlet></router-outlet>



</div>


