/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/scss/bootstrap";

.backgroundApp {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
}


.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #00aea4 !important;
}
